* {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

p, button {
    margin: 15px 0;
    font-size: 11px;
    font-weight: 600;
}

h3,h2 {
    color: hsl(243, 87%, 12%);
}

h2 {
    margin: 30px 0;
}

div.card p {
    color: hsl(0, 0%, 50%);
}

.heading {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(to bottom right, hsl(243, 58%, 33%), hsl(243, 86%, 85%));
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 700;
}

img {
    display: inline;
}

/* header{
    height: 60px;
    width: 100%;
    display: block;
} */

header img {
    display: inline;
    padding: 30px;
}

header ul {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 40px;
}

header li {
    display: inline;
    margin: 0 10px;
}

.content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.col-6, .col-5, .col-4, .col-3 {
    width: 100%;
    position: relative;
    display: inline-block;
}

@media (min-width: 992px){
    .col-6 {
        width: 49.5%;
        position: relative;
        display: inline-block;
    }

    .col-5 {
        width: 41%;
        position: relative;
        display: inline-block;
    }

    .col-3 {
        width: 25%;
        position: relative;
        display: inline-block;
    }
    
    .col-4 {
        width: 33%;
        position: relative;
        display: inline-block;
    }
}



#hero-image {
    display: inline-block;
    right: 0;
    margin: auto auto auto 0;
}

.toppage-content {
    padding: 0 0 0 30px;
    margin: auto 0;
}

.center-align {
    text-align: center;
}

.card {
    padding: 20px 60px;
}

.footer-sm-col {
    width: 30%;
    position: relative;
    display: inline-block;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

footer {
    background-color: hsl(243, 87%, 12%);
    color: white;
}

button {
    background-color: hsl(163, 95%, 43%);
    color: white;
    display: inline-block;
    border: none;
    text-decoration: none;
    border-radius: 4px;
}

.bg-bt {
    padding: 16px 48px;
    font-size: 16px;
}

.sm-bt {
    padding: 12px 48px;
    font-size: 12px;
}

input {
    background-color: white;
    display: inline-block;
    border: none;
    padding: 12px 48px;
    font-size: 12px;
    box-shadow: 0px 0px 5px #888;
    text-decoration: none;
    border-radius: 4px;
}